# will write creds here
# Server configuration
PORT=3000

LOG_API_URL=http://4.224.186.213/evaluation-service/logs

# AffordMed Credentials
CLIENT_ID=id here 
CLIENT_SECRET=secret
ACCESS_TOKEN=access token here